@import url("https://fonts.googleapis.com/css?family=Spartan&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Spartan";
  overflow-x: hidden;
}
/* Scroll Bar */
html {
  --scrollbarBG: #cfd8dc;
  --thumbBG: #90a4ae;
}
body::-webkit-scrollbar {
  width: 13px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 2% auto;
}

.navbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.navbar a:active {
  text-decoration: none;
}

.login {
  margin-right: 2rem;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.title-subtitle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: 5rem;
  margin-bottom: 5%;
}

.title {
  font-size: 3rem;
  letter-spacing: 5px;
}

.subtitle {
  font-size: 1rem;
  letter-spacing: 5px;
}

.svg {
  width: 650px;
  height: 650px;
  animation: floating 5s infinite ease-in-out;
}

/* animation */
@keyframes floating {
  0% {
    transform: translateX(5px);
  }

  25% {
    transform: translateX(10px);
  }

  50.001% {
    transform: translateX(15px);
  }

  65% {
    transform: translateX(15px);
  }

  75% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(5px);
  }
}

@media only screen and (max-width: 900px) {
  .navbar,
  .hidden {
    visibility: hidden;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
    margin-top: -5%;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 50px;
    height: 2px;
    background: #333;
    margin: 6px 25px;
    transition: 0.4s;
  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .title-subtitle {
    text-align: center;
    margin-top: 5%;
  }

  .title {
    font-size: 1.5rem;
  }

  .svg {
    margin-top: -10%;
  }
}
